---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: javawebapp
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: javawebapp
        version: "$(tag)"
    spec:
      containers:
      - name: aksconnectiondemo
        image: aksconnectiondemo.azurecr.io/javasampleapp:latest
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: ReplicationController
metadata:
  labels:
    name: javawebapp
  name: java-controller
spec:
  replicas: 1
  template:
    metadata:
      labels:
        name: javawebapp
    spec:
      containers:
      - image: aksconnectiondemo.azurecr.io/javasampleapp:latest
        name: aksconnectiondemo
        ports:
        - name: javawebapp
          containerPort: 8080  
---
# Node Port Service
apiVersion: v1
kind: Service
metadata:
  labels:
    name: javawebapp
  name: javawebapp
spec:
  type: NodePort
  ports:
    - port: 8080
      targetPort: 8080
  selector:
    name: javawebapp
 
---
apiVersion: v1
kind: Service
metadata:
  name: javawebapp-svc
  namespace: default
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 8080
      name: http
    - name: "https"
      port: 443
      targetPort: 8080
      protocol: "TCP"
  selector:
    app: javawebapp
    version: "$(tag)"

 
    
    
